<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="CSP">
          <match pattern=".*" serverVariable="RESPONSE_Content-Security-Policy" />
          <action type="Rewrite" value="default-src 'none'; form-action 'self' https://formspree.io; img-src 'self'; script-src 'self'; style-src 'self';" />
        </rule>
      </outboundRules>
      <rules>
        <rule name="Redirect to https">
            <match url=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>