/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'),local('Ubuntu-Light'),url(/static/fonts/Ubuntu-Light.ttf) format('truetype');
  src: local('Ubuntu Light'),local('Ubuntu-Light'),url(/static/fonts/Ubuntu-Light.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'),url(/static/fonts/Ubuntu.ttf) format('truetype');
  src: local('Ubuntu'),url(/static/fonts/Ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(/static/fonts/Ubuntu-Medium.ttf) format('truetype');
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(/static/fonts/Ubuntu-Medium.woff) format('woff');
}
/* Styles */
html { background: #F6F6F6; color: #333333; font-family: Ubuntu, sans-serif; font-size: 1em/1.5; font-weight: 300; overflow-y: scroll; }
body { }
:selection { background-color: #732690; color: #FFFFFF; }
img { border: 0 none; height: auto; max-width: 100%; }
strong { font-weight: 500; }
#wrap { margin: 0 auto; position: relative; }
#masthead { background: #FFFFFF; margin-bottom: 1em; }
	#site-navigation { box-sizing: border-box; display: block; height: 100px; margin: 0 auto; max-width: 1000px; min-width: 320px; padding: 10px; text-align: center; }
	#site-navigation > ul { display: inline-block; float: left; height: 80px; position: relative; width: 100%; }
	#site-navigation > ul li { display: inline-block; float: right; line-height: 20px; margin: 0; position: relative; }
	#site-navigation > ul li.site-name { background: #732690; left: 0; position: absolute; top: 0; }
	#site-navigation > ul li a { color: #6A6A6A; display: none; line-height: 80px; margin: 0 0 0 40px; text-align: center; text-decoration: none; text-transform: uppercase; white-space: nowrap; }
	#site-navigation > ul li.site-name a { color: #FFFFFF; display: inline-block; font-weight: 500; line-height: 16px; margin: 0; padding: 24px 10px; text-align: left; }
	@media (max-width: 600px) {
		#site-navigation { height: 80px; }
		#site-navigation ul { height: 60px; }
		#site-navigation ul li { }
		#site-navigation ul li a { line-height: 60px; margin: 0 0 0 10px; }
		#site-navigation ul li.site-name a { padding: 14px 10px; }
	}
#container { box-sizing: border-box; display: block; margin: 0 auto; max-width: 1000px; min-width: 320px; padding: 10px; }
	#container a { color: #732690; text-decoration: underline; }
	#intro { text-align: center; }
	#intro h1, #intro h2 { font-weight: 500; }
	#intro p { line-height: 1.4; margin: 0 0 10px 0; }
	@media (min-width: 601px) {
		#intro h1 { font-size: 60px; margin: 0 0 20px 0; }
		#intro h2 { font-size: 48px; margin: 32px 0 16px 0; }
		#intro p { font-size: 1.2em; }
		#intro p span { display: block; }
	}
	@media (max-width: 600px) {
		#intro h1 { font-size: 36px; margin: 0 0 12px 0; }
		#intro h2 { font-size: 36px; margin: 24px 0 12px 0; }
		#intro p { font-size: 0.875em; }
		#intro h2 + p span { display: block; margin: 0 0 0.5em 0; }
	}
